@font-face {
  font-family: "Pacifico";
  src: url("../fonts/PlaywriteDKLoopet-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  background-color: #c7ecd7;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", sans-serif;
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  background-image: url(../images/pexels-jplenio-2259232.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  font-family: "Pacifico", sans-serif;
  background-color: transparent;
}

.header {
  width: 90%;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.header__burger-menu {
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}

.header__welcome-link {
  margin-left: 30px;
  text-decoration: underline;
  font-size: 30px;
}

.header__title {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.header__logout-button {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 25px;
}

.header__logout-button:hover,
.header__logout-button:active {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

.search {
  width: 100%;
  max-width: 600px;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search__input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}

.search__button {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 25px;
}

.search__button:hover,
.search__button:active {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.sidebar__link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar__link:hover {
  color: #f1f1f1;
}

.sidebar__close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  margin-bottom: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar__close-button:hover {
  color: #818181;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.main__column--left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}

.note,
.save {
  padding: 20px;
  background-color: #5a806a;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.note__header,
.save__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note__title,
.save__title {
  font-size: 30px;
  margin: 0;
}

.note__textarea,
.save__textarea {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.note__save-button,
.save__button {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 25px;
}

.note__save-button:hover,
.save__button:hover,
.note__save-button:active,
.save__button:active {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

.calendar {
  flex-grow: 1;
  padding: 20px;
  background-color: #5a806a;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.calendar__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.calendar__custom {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar__prev-button,
.calendar__next-button {
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.calendar__month-title {
  font-size: 24px;
}

.calendar__table {
  width: 100%;
  border-collapse: collapse;
}

.calendar__table th,
.calendar__table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.footer {
  display: flex;
  width: 90%;
  margin: 20px;
  padding: 10px 20px;
  background-color: #5a806a;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  justify-content: flex-end;
  align-items: center;
}

.footer__content {
  font-size: 16px;
  color: #000;
}

.footer__text {
  font-size: 18px;
}
