@font-face {
  font-family: "Pacifico";
  src: url("../fonts/PlaywriteDKLoopet-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  background-color: #c7ecd7;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", sans-serif;
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  background-image: url(../images/pexels-jplenio-2259232.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  font-family: "Pacifico", sans-serif;
  background-color: transparent;
}

header {
  width: 90%;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.convert-button,
.search-button,
.logout-button {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 25px;
}

.search-button:hover,
.search-button:active,
.logout-button:hover,
.logout-button:active,
.convert-button:hover,
.convert-button:active,
.search-button:hover,
.search-button:active,
.create-task-button:hover,
.create-task-button:active {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

.search-container {
  width: 100%;
  max-width: 600px;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.burger-menu {
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}

.welcome-link {
  margin-left: 30px;
  text-decoration: underline;
  font-size: 30px;
}

.welcome-link:hover,
.welcome-link:active,
.burger-menu:hover,
.burger-menu:active {
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.main-title {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  margin-bottom: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.close-btn:hover {
  color: #818181;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.left-column,
.calendar {
  width: 48%;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: 30px;
  margin: 0;
}

.fast-note,
.fast-save,
.calendar {
  padding: 20px;
  background-color: #5a806a;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.fast-note,
.fast-save {
  display: flex;
  flex-direction: column;
  flex: 1;
}

textarea {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prev-month-button,
.next-month-button {
  background-color: #5a806a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.prev-month-button:hover,
.next-month-button:hover {
  background-color: #80aac8;
}

.month-title {
  font-size: 24px;
  color: #ffffff;
}

.custom-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-calendar table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-calendar th,
.custom-calendar td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
}

.custom-calendar th {
  background-color: #5a806a;
  color: #ffffff;
}

.custom-calendar td:hover {
  background-color: #f1f1f1;
}

.custom-calendar td:active {
  background-color: #80aac8;
  color: #ffffff;
}

.footer-wrapper {
  width: 90%;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.footer-content span {
  font-size: 16px;
  color: #000;
}
