.app-page {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", sans-serif;
  color: #151618;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.notes-header__title {
  font-size: 30px;
}

.notes-header__create-link {
  font-size: 25px;
  border-radius: 8px;
  border: 2px solid #000000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #5a806a;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 10px;
}

.notes-header__create-link:hover {
  background-color: #80aac8;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.app-page__main {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-filter {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(135deg, #f3f4f6, #e8e9eb);
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.modal-content:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
}

.close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.notes-filter__button {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 8px;
  border: 2px solid #000000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #5a806a;
  color: black;
  cursor: pointer;
}

.notes-filter__button:hover {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

.notes-filter__form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Простір між елементами форми */
  align-items: center;
}

.notes-filter__label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.notes-filter__select {
  width: 100%;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid #5a806a;
  background: linear-gradient(135deg, #f9f9f9, #e8e9eb);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.notes-filter__select::-webkit-scrollbar {
  display: none; /* Для WebKit-браузерів (Chrome, Safari) */
}

.notes-filter__select:hover {
  background: linear-gradient(
    135deg,
    #f3f4f6,
    #e3e5e8
  ); /* Темніший фон при наведенні */
}

.notes-filter__select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(90, 128, 106, 0.5); /* Сяйво при фокусі */
}

.notes-filter__apply-button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #000000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #5a806a;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notes-filter__apply-button:hover {
  color: #ffffff;
  background-color: #80aac8;
}

.notes-list__item {
  background: linear-gradient(135deg, #f3f4f6, #e8e9eb);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid #ddd;
}

.notes-list__item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.notes-list__title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.notes-list__preview {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
}

.notes-list__date {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.notes-list__actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.notes-list__action {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #5a806a;
  color: black;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.notes-list__action:hover {
  background-color: #80aac8;
}

.notes-main__list {
  list-style-type: none; /* Прибирає маркери */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  background-color: #5a806a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.notes-main__back-link {
  font-size: 20px;
  font-weight: 650;
  color: black;
  text-decoration: none;
  margin-top: 20px;
}

.notes-main__back-link:hover {
  text-decoration: underline;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #5a806a;
  background-color: #5a806a;
  color: black;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #80aac8;
}

.app-page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #5a806a;
  color: white;
  border-radius: 8px;
  margin-top: auto;
  width: 100%;
}

.notes-footer__content {
  text-align: center;
}

.notes-footer__text {
  font-size: 14px;
}
