@import "globals", "header", "fonts", "calendar", "footer", "./home/home",
  "./register/register", "./login/login", "./dashboard/dashboard",
  "./notes_scss/note_list";

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.sidebar__link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar__link:hover {
  color: #f1f1f1;
}

.sidebar__close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  margin-bottom: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar__close-button:hover {
  color: #818181;
}

.main__column--left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}
