.header__home {
  display: flex;
  position: sticky;

  top: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #5a806a;
  padding: 10px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 10;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.header__login-button,
.header__register-button {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 25px;
  background-color: transparent;
}

.header__login-button:hover,
.header__register-button:hover,
.header__login-button:active,
.header__register-button:active {
  color: #ffffff;
  background-color: #80aac8;
  transition: background-color 0.3s, color 0.3s;
}

/* Стили для блока с текстом */
.main__text-block {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 20px;
  padding: 20px;
  background-color: #5a806a;
  border-radius: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.text-block__content {
  font-size: 20px;
  line-height: 1.5;
}

/* Стили для галереи изображений */
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.image-gallery__item {
  flex: 1;
}

.image-gallery__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main__text-block--midle {
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  background-color: #5a806a;
  border-radius: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
}

/* Стили для большой картинки */
.main__large-image {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.large-image__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для иконок социальных сетей */
.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #31261a;
  margin: 20px auto;
  padding: 10px;
}

.social__icon {
  transition: transform 0.5s ease;
}

.social__icon:hover {
  transform: scale(1.5);
}

/* Стили для контейнера иконок социальных сетей */
.social-icons__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Стили для ряда иконок социальных сетей */
.social-icons__row {
  display: flex;
  gap: 100px;
}

/* Стили для кнопки регистрации */
.registration-button {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.registration-button__btn {
  padding: 16px 100px;
  font-size: 30px;
  border-radius: 8px;
  background-color: #5a806a;
  color: #000;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-button__btn:hover {
  background-color: #80aac8;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
